//xs
@media only screen and (min-width: 0px) {
  .per-info {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }
  .about-us-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-us-numbers {
    width: 100%;
  }
  .social-followers {
    padding: 0 2rem 0 2rem;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: none;
  }
  .about-us-we-are {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 2rem 0;
  }
  .about-us-header {
    font-size: 4rem;
  }

  //contact us
  .contact-us-form {
    width: 90%;
    margin: 0 2rem 0 2rem;
  }

  //mobile app
  .mobile-app-buttons-container {
    width: 100%;
  }

  //feedback
  .feedback-box-container {
    width: 100%;
    padding: 0 2.5rem 0 2rem;
  }

  //submit a story
  .submit-a-story-header {
    font-size: 1.5rem;
  }
  .contents-container {
    width: 80%;
  }
  .submit-a-story-header-p {
    font-size: 14px;
    line-height: 1rem;
  }
  .story-header {
    height: 17rem;
  }
  .story-card-container {
    width: 100%;
    padding: 0 2rem 0 3rem;
  }
  .smallcard-story {
    margin-bottom: 2rem;
    width: 100%;
  }
  .story-longcard-container {
    width: 100%;
  }
  .story-largecard {
    width: 100%;
    height: 100%;
  }
  .things-toconsider-container {
    height: 50%;
  }

  .things-toconsider {
    width: 100%;
  }

  //ad with us
  .get-in-touch {
    font-size: 4rem;
  }

  .perInfo-container {
    display: block;
  }
  .per-info-ad {
    width: 100%;
  }
  .adWithUs-perInfo-h1 {
    font-size: 1.5rem;
  }
  .adWithUs-input {
    font-size: 1.5rem;
    width: 100%;
  }
  .adWithUs-message {
    width: 100%;
  }
  .newsLetter-h1 {
    font-size: 3rem;
  }
  .newsLetter-input {
    width: 90%;
  }
  .btn {
    margin: 0;
  }
  .adWithUs-main-container {
    margin: 0 0 60rem 0;
  }
  .adWithUs-buttons-container {
    width: 50%;
    margin-top: 3rem;
  }
  .adWithUs-select {
    width: 100%;
  }

  //search

  .search-input {
    width: 65%;
  }

  .info-wrapper {
    margin: 2rem 0 0 0;
  }
  .search-article-title {
    font-size: 1.5rem;
    width: 100%;
  }

  //work for us
  .work-for-us-buttons-container {
    width: 100%;
  }

  // .jobs-container {
  //   padding: 0 0 0 0.7rem;
  // }
}
//sm
@media only screen and (min-width: 600px) {
  .per-info {
    width: 100%;
  }
  .about-us-we-are {
    font-size: 4rem;
    line-height: 5rem;
  }
  .upper-content-container {
    height: 60%;
  }
  .about-us-header {
    font-size: 5rem;
  }

  //mobile app
  .mobile-app-buttons-container {
    width: 50%;
  }

  //feedback

  .feedback-box-container {
    width: 70%;
    padding: 0;
  }
  .feedback-input {
    width: 28%;
  }
  .feedback-text-aria {
    width: 76%;
  }

  //submit a story

  .submit-a-story-header {
    font-size: 5rem;
    line-height: 4rem;
  }

  .contents-container {
    width: 60%;
  }
  .submit-a-story-header-p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .story-header {
    height: 20rem;
  }
  .story-card-container {
    width: 80%;
    padding: 0;
  }
  .smallcard-story {
    margin-bottom: 1rem;
    width: 90%;
  }
  .story-longcard-container {
    width: 90%;
  }
  .story-largecard {
    width: 59%;
    height: 30rem;
  }

  .things-toconsider {
    width: 61%;
  }
  .get-in-touch {
    font-size: 5rem;
  }

  //ad with us

  .newsLetter-h1 {
    font-size: 5rem;
  }
  .newsLetter-input {
    width: 20rem;
  }
  .btn {
    margin: 0;
  }
  .adWithUs-main-container {
    margin: 0 0 50rem 0;
  }
  .adWithUs-select {
    width: 74.5%;
  }

  //search
  .info-wrapper {
    margin: 0 0 0 2rem;
  }
  .search-article-title {
    font-size: 2.5rem;
  }

  //work for us

  .work-for-us-buttons-container {
    width: 70%;
  }

  // .jobs-container {
  //   padding: 0 0 0 4rem;
  // }
}
//md
@media only screen and (min-width: 900px) {
  .per-info {
    width: 65%;
    margin: 1rem 0 1rem 0;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
  .about-us-numbers {
    width: 50%;
  }
  .social-followers {
    padding: 0;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: block;
  }

  //contact us
  .contact-us-form {
    width: 60%;
    margin: 0 0 0 4rem;
  }

  //submit a story

  .story-card-container {
    width: 60%;
    padding: 0;
  }
  .things-toconsider-container {
    height: 40%;
  }

  //ad with us

  .perInfo-container {
    display: flex;
  }
  .per-info-ad {
    width: 25%;
  }
  .adWithUs-perInfo-h1 {
    font-size: 2rem;
  }
  .adWithUs-input {
    font-size: 1.7rem;
    width: 70%;
  }
  .adWithUs-message {
    width: 75%;
  }
  .adWithUs-main-container {
    margin: 0;
  }
  .adWithUs-buttons-container {
    width: 30%;
    margin-top: 3rem;
  }
  .search-input {
    width: 60%;
  }
}
//lg
@media only screen and (min-width: 1200px) {
  .per-info {
    width: 65%;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
}

//xl
@media only screen and (min-width: 1536px) {
  .per-info {
    width: 100%;
  }
}
