//xs
@media only screen and (min-width: 0px) {
  .per-info {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }
  .about-us-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-us-numbers {
    width: 100%;
  }
  .social-followers {
    padding: 0 2rem 0 2rem;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: none;
  }
}
//sm
@media only screen and (min-width: 600px) {
  .per-info {
    width: 100%;
  }
}
//md
@media only screen and (min-width: 900px) {
  .per-info {
    width: 65%;
    margin: 1rem 0 1rem 0;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
  .about-us-numbers {
    width: 50%;
  }
  .social-followers {
    padding: 0;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: block;
  }
}
//lg
@media only screen and (min-width: 1200px) {
  .per-info {
    width: 65%;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
}

//xl
@media only screen and (min-width: 1536px) {
  .per-info {
    width: 100%;
  }
}
