//xs
@media only screen and (min-width: 0px) {
  .per-info {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }
  .about-us-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-us-numbers {
    width: 100%;
  }
  .social-followers {
    padding: 0 2rem 0 2rem;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: none;
  }
  .about-us-we-are {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 2rem 0;
  }
  .about-us-header {
    font-size: 4rem;
  }

  //contact us
  .contact-us-form {
    width: 90%;
    margin: 0 2rem 0 2rem;
  }

  //mobile app
  .mobile-app-buttons-container {
    width: 100%;
  }

  //feedback
  .feedback-box-container {
    width: 100%;
    padding: 0 2.5rem 0 2rem;
  }
}
//sm
@media only screen and (min-width: 600px) {
  .per-info {
    width: 100%;
  }
  .about-us-we-are {
    font-size: 4rem;
    line-height: 5rem;
  }
  .upper-content-container {
    height: 60%;
  }
  .about-us-header {
    font-size: 5rem;
  }

  //mobile app
  .mobile-app-buttons-container {
    width: 50%;
  }

  //feedback

  .feedback-box-container {
    width: 70%;
    padding: 0;
  }
  .feedback-input {
    width: 28%;
  }
  .feedback-text-aria {
    width: 76%;
  }
}
//md
@media only screen and (min-width: 900px) {
  .per-info {
    width: 65%;
    margin: 1rem 0 1rem 0;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
  .about-us-numbers {
    width: 50%;
  }
  .social-followers {
    padding: 0;
  }
  .we-are-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-us-globe {
    display: block;
  }

  //contact us
  .contact-us-form {
    width: 60%;
    margin: 0 0 0 4rem;
  }
}
//lg
@media only screen and (min-width: 1200px) {
  .per-info {
    width: 65%;
  }
  .about-us-image {
    width: 80%;
    height: 100%;
  }
}

//xl
@media only screen and (min-width: 1536px) {
  .per-info {
    width: 100%;
  }
}
