@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

html,
*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: var(--font-extrabold);
}

h2, h3, h4 {
    font-weight: var(--font-bold);
}

h5, h6 {
    font-weight: var(--font-medium);
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input {
    all: unset;
}