@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Vollkorn+SC&display=swap");

html,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-bold);
}

h5,
h6 {
  font-weight: var(--font-medium);
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  all: unset;
}
