:root {
  /* HEADER VARIABLES */
  --nav-color: black;
  --nav-text: white;

  /* FOOTER VALUES */


  /* COLORS */
  --hue: 0;
  --primary-color: hsl(var(--hue), 66%, 55%);
  --primary-color-alt: hsl(var(--hue), 66%, 51%);
  --primary-light: hsl(var(--hue), 4%, 55%);
  --text-color: hsl(0, 0%, 29%);
  --text-color-alt: hsl(0, 0%, 59%);
  --container-color: #f5f5f5;


  /* TYPOGRAPHY */
  --font-extrabold: 900;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-base: 400;
  --font-light: 100;

  /* SCREENS */
  --sm : 640px;
  --md : 768px;
  --lg : 1024px;
  --xl : 1280px;
  --2xl : 1440px;
  --max-screen: 990px;

  /* B RADIUS */
  --base-radius: .25rem;

}