@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=PT+Sans+Narrow&family=Varela+Round&display=swap");

:root {
  /* HEADER VARIABLES */
  --nav-color: white;
  --nav-text: black;

  /* FOOTER VALUES */

  /* COLORS */
  --hue: 0;
  --primary-color: #d32011;
  --primary-color-alt: hsl(var(--hue), 66%, 89%);
  --primary-light: hsl(var(--hue), 4%, 30%);
  --text-color: #000000;
  --text-color-alt: hsl(0, 0%, 50%);
  --container-color: #f9f9f9;
  --success-color: #4f8a10;
  --failure-color: #da0a16;

  /* TYPOGRAPHY */
  --font-extrabold: 900;
  --font-bold: 700;
  --font-medium: 500;
  --font-base: 400;

  --font-sm: 12px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 36px;
  --font-2xl: 42px;

  --formal-font: "EB Garamond", serif;

  /* SCREENS */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --max-screen: 1280px;

  /* B RADIUS */
  --base-radius: 0.25rem;
}

main.dark-theme {
  --text-color: #f9f9f9;
  --container-color: #000000;
  --success-color: #abec65;
  --failure-color: #ff9e9e;
}
